services:
  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
    volumes:
      - dbdata:/var/lib/mysql

  web:
    image: httpd
    container_name: web
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  dbdata:

