---
- name: install nginx
  package:
    name: nginx
    state: present

- name: deploy nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/default.conf
  notify: restart nginx
